/* Write your CSS code here */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.home {
  width: 60%;
}
.heading1 {
  color: #6d396b;
}
